
  body{
    background-color:#FFCBCB;
  }
  hr{
    border-style: none;
    border-top-style:dotted;
    border-color:grey;
    border-width: 5px;
    width:5%
  }
  h2{
    color: #980F5A;
  }
  h1{
    color: #980F5A;
  }
